.home-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* This ensures both elements are vertically centered */
  }
  
  .home-title {
    margin: 0; /* Optional: Adjust as needed */
  }
  
  .show-more {
    margin: 0; /* Optional: Adjust as needed */
  } 